# MSDS 430 Mini Project 2

#### In this assignment you will complete the following exercises and submit your notebook (ipynb file) to Canvas. Your file should include all output, i.e. run each cell and save your file before submitting.

<font color=green> In this second mini project we begin working with another Python library that is used quite often in data science, Pandas. Pandas provides us with more extensive ways to work with data as multidimensional array objects. As you read through the Pandas documentation, you are encouraged to explore other capabilities beyond what is required for this assignment. You will want to try to expand your knowledge by exploring the Pandas documentation to learn more about the possibilities for future reference. In this assignment you will be reading in some data using Pandas and providing information related to that data. </font>

Step 1: Use pandas to read the file Employee_Data.xlsx.

In [2]:
import pandas as pd
df = pd.read_excel('Employee_Data.xlsx')

Step 2: Inspect the data by printing the first five rows and the last five rows in the dataframe.

In [3]:
df.head(5)

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

In [4]:
df.tail(5)

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
1465,36,No,Travel_Frequently,884,Research & Development,23,2,Medical,1,2061,...,3,80,1,17,3,3,5,2,0,3
1466,39,No,Travel_Rarely,613,Research & Development,6,1,Medical,1,2062,...,1,80,1,9,5,3,7,7,1,7
1467,27,No,Travel_Rarely,155,Research & Development,4,3,Life Sciences,1,2064,...,2,80,1,6,0,3,6,2,0,3
1468,49,No,Travel_Frequently,1023,Sales,2,3,Medical,1,2065,...,4,80,0,17,3,2,9,6,0,8
1469,34,No,Travel_Rarely,628,Research & Development,8,3,Medical,1,2068,...,1,80,0,6,3,4,4,3,1,2

Step 3: Display the 5 employees who have been at the company the longest in descending order.

In [5]:
df.nlargest(5, 'TotalWorkingYears')

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
126,58,Yes,Travel_Rarely,147,Research & Development,23,4,Medical,1,165,...,4,80,1,40,3,2,40,10,15,6
595,58,Yes,Travel_Rarely,286,Research & Development,2,4,Life Sciences,1,825,...,4,80,0,40,2,3,31,15,13,8
98,58,No,Travel_Rarely,682,Sales,10,4,Medical,1,131,...,3,80,0,38,1,2,37,10,1,8
85,56,No,Travel_Rarely,1400,Research & Development,7,3,Life Sciences,1,112,...,1,80,0,37,3,2,6,4,0,2
270,55,No,Travel_Rarely,452,Research & Development,1,3,Medical,1,374,...,3,80,0,37,2,3,36,10,4,13

Step 4: Create a new panda series with employee number as the index and job satisfaction as the data. The categories for job satisfaction are 1 = Low, 2 = Medium, 3 = High, 4 = Very High. Inspect your series by displaying the first four records.

In [6]:
employee_num = df['EmployeeNumber']
job_sat = df['JobSatisfaction']
job_sat_series = pd.Series(data=job_sat, index=employee_num)
job_sat_series[:4]

EmployeeNumber
1    2.0
2    3.0
4    2.0
5    4.0
Name: JobSatisfaction, dtype: float64

Step 5: Summarize job satisfaction for the company by displaying the number of employees in each category.

In [24]:
sat_counts = job_sat.value_counts()
sat_counts

4    459
3    442
1    289
2    280
Name: JobSatisfaction, dtype: int64

Step 6: Display the percentages in each category.

In [23]:
percent = (job_sat.value_counts(normalize=True))*100
percent

4    31.224490
3    30.068027
1    19.659864
2    19.047619
Name: JobSatisfaction, dtype: float64

Step 7: Create a bar plot of the numbers from Step 5